
<div class="jumbotron text-center">
  <h2 *ngIf="!selected_movie">Search A Movie</h2>
  <h2 *ngIf="selected_movie">Movie Detail</h2>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sx-0 col-md-2">
    </div>
    <div class="col-sx-12 col-md-8">
      <div class="text-center" *ngIf="!selected_movie">  
        <input [(ngModel)]="search_name" (keyup)="search()" type="text" class="form-control" id="search" placeholder="Enter Movie Name">
        <div *ngFor="let m of movies_list">
            <div (click)="getDetail(m.imdbID)">
              <div class="movie-item" >
                  <h4>{{m.Title}}</h4>
                  <img src="{{m.Poster}}"  width="150" height="200">
              </div>
            </div>
        </div>
      </div>
      <div *ngIf="selected_movie">
          <div>
            <button (click)="Back()" class="btn btn-default" id="back">Search Another Movie</button>
            <div id="poster" class="col-md-6">
              <img src="{{selected_poster}}" width="350" height="500">
            </div>
            <div class="col-md-6">
              <p *ngFor="let entry of selected_movie">
                <b>{{entry.key}}</b> {{entry.value}}
              </p>
            </div>
          </div>
        </div>
          
      
    </div>
   </div>
</div>

